@import '../../../../styles/customMediaQueries.css';

.modalContainer {
    flex-basis: unset !important;
}

.openLink {
    margin-left: 24px;

    @media (--viewportLarge) {
        margin-left: 0;
    }
}

.printButton {
    margin: 20px 0;
    width: fit-content;
    padding: 16px 32px;
}

.listItem {
    list-style-position: inside;
    list-style-type: disc;
}